

<div class="jumbotron text-center">
  <h1>CloudPython</h1>
  <p>Messing around with Flask Webapps using AWS Free tier</p>
  <p>Bit flip API: <a href="/pages/bitflip">/pages/bitflip</a></p>
  <p>This URL: {{ url }} </p>
</div>
<div class="container">
  <div>
    <h2>Bit Flipper API</h2>
    <p>Saves bit states, that you can poll for later</p>
    <h3>Usage:</h3>
    <h4>Setting a bit: <b>/set/&lt;id&gt;?x=&lt;value&gt;</b></h4>
    <p>id can range from 0 to 100<br>
       Value can be 0 or 1 (TODO)</p>
    <p>Returns:</p>
    <p>On success: Status 200: Success<br>
       On error: Status 404: Error</p>
    <h4>Reading a bit: <b>/get/&lt;id&gt;</b></h4>
    <p>id can range from 0 to 100</p>
    <p>Returns:</p>
    <p>On success: Status 200: &lt;value&gt;<br>
       On error: Status 404: Error</p>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Processing an AJAX Form</h1>
    <form class="needs-validation" novalidate="" action="/set" method="POST">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid number form 0 to 100 required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="x">Value</label>
          <input type="text" class="form-control" id="x" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid number form 0 to 1 required
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Set</button>
    </form>
  </div>
</div>
<script> 
  document.addEventListener("submit", (e) => {
    // Store reference to form to make later code easier to read
    const form = e.target;

    // Post data using the Fetch API
    fetch(form.action, {
      method: form.method,
      body: new FormData(form),
    })
      // We turn the response into text as we expect HTML
      .then((res) => res.text())

      // Let's turn it into an HTML document
      .then((text) => new DOMParser().parseFromString(text, "text/html"))

      // Now we have a document to work with let's replace the <form>
      .then((doc) => {
        // Create result message container and copy HTML from doc
        const result = document.createElement("div");
        result.innerHTML = doc.body.innerHTML;

        // Allow focussing this element with JavaScript
        result.tabIndex = -1;

        // And replace the form with the response children
        form.parentNode.replaceChild(result, form);

        // Move focus to the status message
        result.focus();
      });

    // Prevent the default form submit
    e.preventDefault();
  });
</script>
