

<div class="jumbotron text-center">
  <h1>CloudPython</h1>
  <p>Messing around with Flask Webapps using AWS Free tier</p>
  <p>Bit flip API: <a href="/pages/bitflip">/pages/bitflip</a></p>
  <p>This URL: {{ url }} </p>
</div>
<div class="container">
  <div>
    <h2>Bit Flipper API</h2>
    <p>Saves bit states, that you can poll for later</p>
    <h3>Usage:</h3>
    <h4>Setting a bit: <b>/set/&lt;id&gt;?x=&lt;value&gt;</b></h4>
    <p>id can range from 0 to 100<br>
       Value can be 0 or 1 (TODO)</p>
    <p>Returns:</p>
    <p>On success: Status 200: Success<br>
       On error: Status 404: Error</p>
    <h4>Reading a bit: <b>/get/&lt;id&gt;</b></h4>
    <p>id can range from 0 to 100</p>
    <p>Returns:</p>
    <p>On success: Status 200: &lt;value&gt;<br>
       On error: Status 404: Error</p>
  </div>
  <div>
    <form class="needs-validation" novalidate="" action="/set/0">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid number form 0 to 100 required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="x">Value</label>
          <input type="text" class="form-control" id="x" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid number form 0 to 1 required
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Set</button>
    </form>
  </div>
</div>
