

<div class="jumbotron text-center">
  <h1>CloudPython</h1>
  <p>Messing around with Flask Webapps using AWS Free tier</p>
  <p>Bit flip API: <a href="/pages/bitflip">/pages/bitflip</a></p>
  <p>This URL: {{ url }} </p>
</div>
<div class="container">
  <div class="row">
    <h3>Bit Flipper!</h3>
    <a href="#" class="btn btn-primary" role="button">Click!</a>
  </div>
</div>
