<div class="row">
  <div class="col-sm-4">
    <h3>Code 1</h3>
    <a href="/code/1" class="btn btn-primary" role="button">Click!</a>
  </div>
  <div class="col-sm-4">
    <h3>Code 2</h3>
    <a href="#" class="btn btn-primary" role="button">Click!</a>
  </div>
  <div class="col-sm-4">
    <h3>Code 3<h3>
    <a href="#" class="btn btn-primary" role="button">Click!</a>
  </div>
</div>
